anthropic==0.118.0
openai==2.47.0
google-genai==2.14.0
xai-sdk==1.17.0
together==1.5.24
transformers==4.55.2
tqdm==4.67.3
huggingface-hub==0.34.4
pandas==3.0.0
pytest==9.0.2
python-dotenv==1.1.0
mutagen==1.47.0

# For local models
# torch==2.7.1+cu126
# accelerate==1.7.0
# bitsandbytes==0.46.0
# flash-attn==2.3.0  # For faster attention computation
